[Unit]
Description=Check approved Chromium Glass stable releases

[Timer]
OnBootSec=15min
OnUnitInactiveSec=1h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
